:root {
  --max-fs: 1;
  --min-fs: .75;
  --max-vw: 120;
  --min-vw: 80;
  --min-fs-rem: calc(var(--min-fs) * 1rem);
  --max-fs-rem: calc(var(--max-fs) * 1rem);
  --min-vw-rem: calc(var(--min-vw) * 1rem);
  --slope: calc((var(--max-fs) - var(--min-fs)) * (100vw - var(--min-vw-rem)) / (var(--max-vw) - var(--min-vw)));
  --font-size-clamp: clamp(var(--min-fs-rem), calc(var(--min-fs-rem) + var(--slope)), var(--max-fs-rem));
  --default-line-height: 1.5;
  --heading-line-height: 1.3em;
}

@mixin typography-heading($heading-font-size) {
  font-size: $heading-font-size;
  line-height: var(--heading-line-height);
  margin-top: calc(var(--heading-line-height) / 2 * 2.5);
  margin-bottom: calc(var(--heading-line-height) / 2 * 1);
  max-inline-size: 50ch;
  text-wrap: balance;
}

@mixin typography-paragraph($paragraph-font-size, $paragraph-line-height) {
  font-size: $paragraph-font-size;
  line-height: $paragraph-line-height;
  margin-bottom: calc(#{$paragraph-line-height} / 2);
  text-wrap: balance;
}

html {
  font-size: 10px;
  font-feature-settings: "kern" 1, "liga" 0;
  text-rendering: optimizelegibility;
  text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-default, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
  font-size: var(--font-size-clamp);
  line-height: var(--default-line-height);
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration-skip-ink: auto;
}

.display {
  &-large {
    @include typography-heading(5.7em);

    margin-left: -.08em;
  }

  &-medium {
    @include typography-heading(4.5em);

    margin-left: -.07em;
  }

  &-small {
    @include typography-heading(3.6em);

    margin-left: -.07em;
  }
}

.headline {
  &-large {
    @include typography-heading(3.2em);

    margin-left: -.06em;
  }

  &-medium {
    @include typography-heading(2.8em);

    margin-left: -.06em;
  }

  &-small {
    @include typography-heading(2.4em);

    margin-left: -.05em;
  }
}

.title {
  &-large {
    @include typography-heading(2.2em);

    margin-left: -.04em;
  }

  &-medium {
    @include typography-heading(1.6rem);

    font-weight: 600;
    margin-left: -.03em;
  }

  &-small {
    @include typography-heading(1.4rem);

    font-weight: 600;
  }
}

.label {
  &-large {
    @include typography-paragraph(1.4rem, 2rem);

    font-weight: 600;
  }

  &-medium {
    @include typography-paragraph(1.2rem, 1.6rem);

    font-weight: 600;
  }

  &-small {
    @include typography-paragraph(1.1rem, 1.6rem);

    font-weight: 600;
  }
}

.body {
  &-large {
    @include typography-paragraph(1.6rem, 2.4rem);
  }

  &-medium {
    @include typography-paragraph(1.4rem, 2rem);
  }

  &-small {
    @include typography-paragraph(1.2rem, 1.6rem);
  }
}

ul,
ol {
  padding-left: 0;
  list-style-position: outside;
  font-size: 1.4rem;
  line-height: 2rem;
}
